/*Rover Colors
  Dark Green = #24a160
  Light Green = #2ab56f
  */

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

a:link,a:visited {
    text-decoration: none;
}
/* stylelint-enable */

/* Begin site styles below */

/*
Base styles (also the styles for smartphones, portrait... need to implement landscape!
*/
html {
  font-family: Helvetica, sans-serif;
  font-size: 1.125em; /* target / context = 18px / 16px = 1.125 em */
  line-height: 1.222em; /* 1.22em instead of 120%... from 22px (rounded up)*/
  background-color: #24a160;
}
/*ModularScale.com "golden section" 1:1.618*/
#header { /*for the header for ONLY this page (with the library image)*/
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/rover-background-official.jpg");
  height: 100%;
  color: #131415;
}
h1, h2, p, figcaption {
  padding-left: 8%;
  padding-right: 8%;
}
h1, h2 {
  font-weight: bold;
}
p, figcaption {
  padding-top: 0.809em; /* 1.618/2 = 0.809 */
  padding-bottom: 0.809em;
  color: #fffff2;
}
h1 {
  color: #fffff2; /*text = off white*/
  font-size: 161.8%;
  line-height: 1em;
  padding-bottom: 0.618em;
  text-align: center;
  //text-shadow: 2px 2px 5px #fffff2;
}
h2 {
  color: #fffff2;
  font-family: Helvetica, sans-serif;
  font-size: 130.9%;
  padding-top: 0.5em;
  line-height: 1em;
}
article p a {
  color: #272b2e; /*text = near black*/
  font-weight: bold;
}
article { /*how do I make the background span the figcaption and javascript?*/
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/rover-background.png");
  height: 100%;
  color: #131415;
}
/*
  Responsive image design
*/
img {
  display: block;
  max-width: 100%;
}

/*
  Image Gallery
*/
.gallery .images {
  background: #222;
  display: flex;
  flex-flow: row wrap-reverse;
  padding: 5px;
}
.gallery .images li {
  flex: 1 1 600px;
  padding: 5px;
}
/* State Styles */
.slideshow li {
  display: none;
}
.slideshow li.is-showing {
  display: block;
}

/*
  Layout Styles (usually ID selector)
*/


/*
  Module Styles (usually class selectors)
*/
nav ul {
  display: flex;
}
nav li {
  flex: 1 1 auto;
  float: left;
  width: 33.333333333%;
  padding-left: 2%;  /*for the padding between buttons*/
  padding-right: 2%;
}
.far-left-button {
  padding-left: 8%;  /*for left edge padding*/
}
.far-right-button {
  padding-right: 8%; /*for right edge padding*/
}
nav a {
  padding: 0.6111111111em 0;
  background: #2ab56f;
  color: #fffff2; /*text = off white*/
  border: 1px solid black;
  border-radius: 0.5em;
  display: block;
  text-align: center;
}
#who #nav-who,
#why #nav-why,
#how #nav-how,
#contact #nav-contact,
nav a:hover,
nav a:active,
nav a:focus {
  background: #343536;
}


/*
  State Styles (media queries and javascript dependent stuff
*/




/*------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 450px) {
  p, figcaption{
    line-height: 130.9%;
  }
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 216.8%;
    padding-top: 1em;
  }
  h2 {
    font-size: 161.8%;
  }
  nav {
    padding-top: 0.618em;
  }
  p, figcaption {
    font-size: 110%;
  }
}

@media screen and (min-width: 704px) {
  nav li {
    font-size: 135%;
  }
  p, figcaption {
    line-height: 161.8%;
  }
}

@media screen and (min-width: 800px) {
  p, article ul li, figcaption {
    font-size: 114.591%;
  }
}

@media screen and (min-width: 900px) {
  /* default stuff... like for normal screen sizes */
  html {
    line-height: 1.618em;
  }
  h1 {
    padding-top: 10%;   /* half-way between 4.236 and 2.118 */
    font-size: 4.236em;
  }
  nav {
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  nav li {
    font-size: 150%;
  }
  h2 {
    font-size: 261.792%;
  }
  p, figcaption {
    font-size: 130.9%;
  }
  /*
    Responsive image design
  */
  img {
    display: block;
    margin-left: none;
    margin-right: none;
    max-width: 100%;
  }

  /*
    Layout Styles (usually ID selector)
  */
  #who {
    background-size: 100%;
  }
  #how {
    background-size: 100%;
  }
  /*
    Module Styles (usually class selectors)
  */

  /*
    State Styles (media queries and javascript dependent stuff
  */
}
@media screen and (min-width: 1100px) {
  p, article ul li, figcaption {
    font-size: 135%;
  }
}
@media screen and (min-width: 1200px) {
  p, figcaption {
    font-size: 150%;
  }
  /*.gallery .images li {
    flex: 1 0 350px;
  }*/
}
